.hideOptions{
	display:none !important;
}

.showOptions{
	display: block !important;
}

.dropdown-toggle::after{
	content: none !important;
}
/* 
 * The styles below are not DRY for 
 * ease of copying.
 *
 * To get the given styles needed you can
 * simply copy the full section below 
 * that you require rather than try to
 * figure out what bits to chop out.
*/

/* Popout to right Styles
=============================================*/

.friendsButton{
	background-color: black;
	width: 64px;
	border-radius: 7px;
	border-color: black;
}

.friendsButton:focus{
	background-color: black;
	border-color: black;
	box-shadow: none;
}

.friendsButton:hover{
	background-color: black;
	border-color: black;
}

.popout-menu-right {
	background: none;
	border: none;
	box-shadow: none;
	left: 138px;
	top: -67px;
}
.popout-menu-right li {
	width: 92px;
	margin-bottom: 18px;
	padding: 6px;
	/* background: #337ab7; */
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0,0,0, 0.6);
}
.popout-menu-right li:last-of-type {
	margin-bottom: 0;
}
.popout-menu-right li:nth-of-type(2n){
	margin-left: 12px;
}
.popout-menu-right li a {
	color: #fff;
}
.popout-menu-right li a:hover {
	background: inherit;
	color: #fff;
}
/* .popout-menu-right li:hover {
	background: #286090;
}
.popout-menu-right li:hover:after {
	border-right-color: #286090;
} */

/** Arrow Styles For Popout Right **/
.arrow-box-left {
	position: relative;
	background: #337ab7;
}
.arrow-box-left::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #337ab7;
	border-width: 8px;
	margin-top: -8px;
}