/*html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
  .thisformi *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
  }
  .thisformi *:required,
.thisformi select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}
  .outeri {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #121212; /* fallback for old browsers */
    overflow-x: hidden;
   overflow-y: hidden;
    height: 100%;
  
    /* code to make all text unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  /* Disables selector ring */
  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }
  
  /* ########################################################## */
  
  .headingi {
    color: white;
  
    font-size: 35px;
    font-weight: 800;
  }
  
  .flex-containeri {
    width: 100vw;
  
    margin-top: 25px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-containeri {
    width: 500px;
    height: 500px;
  }
  
  .form-containeri {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 450px;
    height: 500px;
  
    
   
  
    border-radius: 12px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    background: #1f1f1f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  }
  
  .subtitlei {
    font-size: 15px;
  
    color: rgba(177, 177, 177, 0.3);
  }
  
  .inputi {
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
  
    margin-bottom: 30px;
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  
    height: 35px;
    width: 300px;
  }
  
  .submit-btni {
    cursor: pointer;
  
    border: none;
    border-radius: 8px;
  
    box-shadow: 2px 2px 7px #38d39f70;
  
    background: #38d39f;
    color: rgba(255, 255, 255, 0.8);
  
    width: 80px;
    display: block;
    margin: auto;
    transition: all 1s;
  }
  
  .submit-btni:hover {
    color: rgb(255, 255, 255);
  
    box-shadow: none;
  }
  
  .footer{
      margin-top: 70px;
  }
  