.profileFull {
    display: flex;
    margin: 0rem 4rem;
}

.leftProfile {
    display: flex;
    flex-direction: column;
}

.rightProfile {
    display: flex;
    flex-direction: column;
}

.profileCard {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* background-image: none; */
    background-image: url('../../assets/profile/images/BgImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23rem;
    width: 19rem;
}

.profileImg {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 0;
    margin-top: 3.4rem;
    margin-left: 1rem;
}

.profileUsername {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.profileName {
    margin-left: 1rem;
    font-size: 1.6rem;
}

.main-body {
    padding: 15px;
}
.card1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100% !important;
}
.shadow-none {
    box-shadow: none !important;
}

h6 {
    color: black;
}

.row {
    padding: 0;
}

.handleName {
    color: black !important;
}

.handlesItem {
    padding: 0.75rem 1.25rem;
    color: black;
}

.body1 {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background: #272635;
    color: #2c2c2c;
}
.tabs {
    max-width: 30rem;
    display: flex;
    min-width: 428px;
    min-height: 175px;
    max-width: 428px;
    max-height: 198px;
}
.tabs > ul {
    list-style-type: none;
    padding: 0;
}
.tabs > ul li {
    display: block;
    text-align: center;
}
.tabs > ul li a {
    display: block;
    text-decoration: none;
    background: #11111a;
    padding: 1rem 1.5rem;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s ease-in-out;
}
.tabs > ul li a.active {
    background: #fadadd;
    color: #2c2c2c !important;
}
.tabs > ul li a:hover:not(.active) {
    color: white;
}
.tabs section {
    background: #fadadd;
    padding: 1rem 1.5rem;
    display: none;
}
.tabs section.active {
    display: block;
}

.tabs > section > h3 {
    color: black;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
.body2 {
    box-sizing: border-box;
}
.body2::before,
.body2::after {
    box-sizing: border-box;
}
.body2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 251px;
    max-height: 45vh;
    background: #fff;
    overflow: hidden;
}
#container {
    position: relative;
    transform: scale(0.725);
}
.divider {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 200px;
    width: 50px;
    height: 15px;
    background: #fff;
}
.loading-text {
    position: relative;
    font-size: 3.75rem;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
}
.loading-text::before {
    position: absolute;
    content: '';
    z-index: 1;
    top: 40px;
    left: 115px;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    animation: dotMove 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}
.loading-text .letter {
    display: inline-block;
    position: relative;
    color: #000;
    letter-spacing: 8px;
}
.loading-text .letter:nth-child(1) {
    transform-origin: 100% 70%;
    transform: scale(1, 1.275);
}
.loading-text .letter:nth-child(1)::before {
    position: absolute;
    content: '';
    top: 22px;
    left: 0;
    width: 14px;
    height: 36px;
    background: #fff;
    transform-origin: 100% 0;
    animation: lineStretch 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}
.loading-text .letter:nth-child(5) {
    transform-origin: 100% 70%;
    animation: letterStretch 1800ms cubic-bezier(0.25, 0.23, 0.73, 0.75)
        infinite;
}
.loading-text .letter:nth-child(5)::before {
    position: absolute;
    content: '';
    top: 15px;
    left: 2px;
    width: 9px;
    height: 15px;
    background: #fff;
}
@keyframes dotMove {
    0%,
    100% {
        transform: rotate(180deg) translate(-110px, -10px) rotate(-180deg);
    }
    50% {
        transform: rotate(0deg) translate(-111px, 10px) rotate(0deg);
    }
}
@keyframes letterStretch {
    0%,
    100% {
        transform: scale(1, 0.35);
        transform-origin: 100% 75%;
    }
    8%,
    28% {
        transform: scale(1, 2.125);
        transform-origin: 100% 67%;
    }
    37% {
        transform: scale(1, 0.875);
        transform-origin: 100% 75%;
    }
    46% {
        transform: scale(1, 1.03);
        transform-origin: 100% 75%;
    }
    50%,
    97% {
        transform: scale(1);
        transform-origin: 100% 75%;
    }
}
@keyframes lineStretch {
    0%,
    45%,
    70%,
    100% {
        transform: scaleY(0.125);
    }
    49% {
        transform: scaleY(0.75);
    }
    50% {
        transform: scaleY(0.875);
    }
    53% {
        transform: scaleY(0.5);
    }
    60% {
        transform: scaleY(0);
    }
    68% {
        transform: scaleY(0.18);
    }
}
@media (min-width: 48rem) {
    #container {
        transform: scale(0.725rem);
    }
}
@media (min-width: 62rem) {
    #container {
        transform: scale(0.85);
    }
}

.icon {
    width: 76px;
    height: 76px;
    top: -200px;
    margin: 0 auto;
    position: relative;
}
.icon:hover {
    -moz-animation: rotatecircle 4s infinite linear;
    -webkit-animation: rotatecircle 4s linear;
}
.outerCircle {
    background-color: transparent;
    border: 8px solid rgba(97, 82, 72, 0.9);
    opacity: 0.9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100px;
    width: 103px;
    height: 103px;
    margin: 0 auto;
    -moz-animation: spinPulse 3s infinite ease-in-out;
    -webkit-animation: spinPulse 3s infinite ease-in-out;
}
.innerCircle {
    background-color: transparent;
    border: 5px solid rgba(189, 215, 60, 0.6);
    opacity: 0.9;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 100px;
    top: -110px;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    position: relative;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #bdd73c;
    }
    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}
@keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #bdd73c;
    }
    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}
@keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotatecircle {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@keyframes rotatecircle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

.card.card-carousel {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card.card-carousel img {
    border-radius: 6px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators {
    bottom: 5px;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.carousel .carousel-indicators .active {
    margin: 11px 10px;
}

.carousel .carousel-indicators li {
    margin: 11px 10px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100% !important;
    transition: transform 0.6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-item.active {
    display: block;
}

.carousel .carousel-caption {
    padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

.carousel .carousel-control-next .material-icons {
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

.carousel .carousel-control-prev .material-icons {
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

/* .card-body path {
    fill: black !important;
} */
