.aboutUsHeading {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
}

section {
  min-height: auto;
}

.main_counter_content {
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.p-y-2 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.p-y-3 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.m-b-1 {
  margin-bottom: 18px;
}

.m-t-1 {
  margin-top: 18px;
}
*/ .main_counter_area {
  background-size: cover;
  overflow: hidden;
}
*/ .main_counter_area .main_counter_content .single_counter {
  background: #000000;
  color: #fff;
}

.statistic-counter h2 {
  color: white;
}

.main_counter_area .main_counter_content .single_counter {
  font-size: 20px;
  color: white;
}
