.title_hide{
    visibility: hidden;
    height: 0;
    width: 0;
}

.SolveButton{
    margin-top:2rem;
    width:6rem;
    margin-left:auto;
    margin-right:auto;
    font-size:17px;
    font-weight:700;
    letter-spacing:1px;
    padding:7px;
    background-color: white;
    color: green;
}

.DoneButton{
    margin-top:2rem;
    width:6rem;
    margin-left:auto;
    margin-right:auto;
    font-size:17px;
    font-weight:700;
    letter-spacing:1px;
    padding:7px;
    color: white;
}

.SaveButton{
    margin-top:1rem;
    width:6rem;
    margin-left:auto;
    margin-right:auto;
    font-size:17px;
    font-weight:700;
    letter-spacing:1px;
    padding:7px
}

.SolveLink{
    color: green !important;
}

.DoneLink{
    color: white !important;
}

.SolveButton:hover .SolveLink{
    color: white !important;
    text-decoration: none;
}

.DoneButton:hover .DoneLink{
    text-decoration: none;
}

/* .marginTop6{
    margin-top: 6rem;
} */

#lockHover:hover{
    background-color: red;
} 

#lockHover:hover #lockIcon{
    color: white !important;
} 