/* body {
    background-color: #551033;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .container_card {
    top:50%;
    left: 26%;
    width: 9.4rem;
    transform:translate(20% ,-8%);
    position: absolute;
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
}

.lock {
  font-size: 2px;
  position: relative;
  width: 18em;
  height: 10em;
  border-radius: 2em;
  top: 40em;
  bottom: 0;
  box-sizing: border-box;
  border: 3.5em solid #ffbb39;
  border-right-width: 7.5em;
  border-left-width: 7.5em;
  margin: 0 0 6rem 0;
  opacity: 0;
}

.lock:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 2.5em solid #ffbb39;
  border-bottom: none;
  width: 14em;
  height: 12em;
  left: 50%;
  margin-left: -7em;
  top: -14em;
  border-top-left-radius: 7em;
  border-top-right-radius: 7em;
  transform-origin: 14% 40%;
  transition: 1s ease-in;
}

/* .lock:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 1em solid white;
  width: 5em;
  height: 8em;
  border-radius: 2.5em;
  left: 50%;
  top: -1em;
  margin-left: -2.5em;

} */

/* .lock:hover{
  display: none;
} */


/* Top section unlock motion */

  .container-card {
    position: relative;
    height: 400px;
    width: 1000px;
    top: 0px;
    left: calc(35% - 415px);
    display: flex;
  }

  .card {
    display: flex;
    height: 280px;
    width: 250px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -60px;
  }

  .unsolvedCard{
    position: relative;
    top: -30px;
    z-index: 100;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    z-index: 120;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .card:hover .lock{
    opacity: 1;
    transition: all 0.5s ease-in;
  }
  
  .title {
    color: white;
    font-weight: 200;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  .title_locked {
    color: white;
    font-weight: 200;
    font-size: 35px;
    position: absolute;
    left: 90px;
    top: 15px;
    
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,255,0);
    background: linear-gradient(90deg, rgba(0,255,0,0.7) 0%, rgba(0,255,0,0.7) 65%, rgba(0,255,0,0.7) 100%);
    transition: 0.6s ease-out;
  }


  .check {
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 47px;
    left: 8px;
    height: 42px;
    width: 19px;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
  }

  
  .card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  a svg {
    fill: #17141d;
    stroke-width: 2px;
  }


.buttondisp {
    opacity: 1;
    transition: 0.5s ease-in;
    border: none;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: green;
    left: -27px;
    top: 23px;
    height: 97px;
    width: 97px;
    /* width: 83px; */
    padding-top: 37px;
    font-size: 18px;
  }

  .card:hover .stroke {
    stroke-dashoffset: 0;
    transition: 0.6s ease-out;
  }

  .pageNavIcons{
    font-size: 3.5rem;
    cursor: pointer;
  }

  .updateBtn{
    position: absolute;
    top: 153px;
    height: 41px;
  }

  .marginLeftOfCards{
    margin-left: 90px;
  }