@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
* {
  font-family: 'Inter', sans-serif;
}

.container-fluid {
  padding: 7rem 0rem;
}

.navbar-link.active {
  padding: 0.5rem;
  border-radius: 5px;
}
.navbar-link:hover {
  color: brown;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: white;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #111111;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: white;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: white;
}
