.solved {
    color: white;
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
    background-color: black;
    border-left: 2px solid #33A168;
}
.wrong {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
    border-left: 2px soliD salmon;
}
.upsolved {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
    border-left: 2px solid lightskyblue;
}
.contestName {
    font-weight: 900;
    font-size: larger;
    border-radius: 10px;
    background-color: rgb(245, 245, 252,0.8);
    height: 90px;
    text-align: center;
    padding-top: 10px;
    color: white;
}
.not_attempted{
    background-color: rgb(0, 0, 0);
    color: white;
   
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
    border-left: 2px solid #bba187;
}


.contestRow {
    height: 90px;

    border-radius: 10px;
}
.tags {
    background: rgb(126, 122, 8);
    background: linear-gradient(
        0deg,
        rgba(126, 122, 8, 1) 0%,
        rgba(253, 208, 45, 1) 91%
    );
    border: 1px solid rgb(39, 38, 38);
    border-radius: 5px;
    margin-left: 8px;
}

Col {
    border-radius: 10px;
}
.heads {
    text-align: center;
}
.flags {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.vir {
    float: right;
    border-radius: 10px;
    color: rgb(255, 250, 250);
    background-color: rgb(0, 83, 161);
    padding: 8px;
}
.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;

    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 0.8rem;
    padding: 5px;
    color: #fff;
    border: 2px solid #06d85f;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06d85f;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(3, 3, 3, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 2px auto;
    padding: 2px;
    background: #fff;
    border-radius: 5px;
    width: 20%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 2px;
    right: 30px;
    transition: all 200ms;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06d85f;
}
.popup .content {
    max-height: 10%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 40%;
    }
    .popup {
        width: 40%;
    }
}
.loading-animation {
    display: block;
    margin: auto;
}
.paginator {
    text-align: center;
    margin: auto;
    padding: 30px;
    display: block;
}
.pagination {
    border-radius: 5px;
    text-align: center;
   
}
a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.upperButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 2px;
    border-radius: 3px;
    margin: 2px;
}
.green {
    color: #33a168;
}
.red {
    color:salmon;
}
.viol{
    color:#bba187;
}
.blue {
    color: lightskyblue;
}
.tagsbox {
    color: black;
}
.active-page {
    background-color: rgb(0, 162, 255);
    padding: 9px;
}

.page-link {
    background-color: black;
}
.paginate{
    align-items: center;
    display: flex;
}
.body{
    margin-left: 6px;
}