.solved{
    background-color:rgb(0, 173, 0);
    color: black;
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
}
.wrong{
    background-color: rgb(245, 19, 19);
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
}
.upsolve{
    background-color: rgb(46, 46, 240);
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
}
.contestName{
    background-color:rgb(65, 13, 65);
    border-radius: 10px;
    height: 90px;
    text-align: center;
    padding-top: 10px;
}
.contestRow{
   height: 90px;
  
   border-radius: 10px;
    
}
Col{
    border-radius: 10px;
}
.heads{
    text-align: center;
}
.flags{
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.correct{
    color: green;
    text-align: center;

}
.incorrect{
    color: red;
   
}
.todo{
    color: blue;
    
}